USE [master]
GO
/****** Object:  Database [GrabNGoDB]    Script Date: 6/1/2025 5:06:54 AM ******/
CREATE DATABASE [GrabNGoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GrabNGoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GrabNGoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GrabNGoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GrabNGoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GrabNGoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GrabNGoDB]
GO
/****** Object:  Table [dbo].[foods]    Script Date: 6/1/2025 5:06:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[calories] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[image_url] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userstest]    Script Date: 6/1/2025 5:06:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userstest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[name] [varchar](100) NULL,
	[allowance] [int] NULL,
 CONSTRAINT [PK_userstest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[foods] ON 

INSERT [dbo].[foods] ([id], [name], [calories], [price], [image_url]) VALUES (1, N'Adobo', 320, CAST(80.00 AS Decimal(10, 2)), N'https://png.pngtree.com/png-clipart/20240914/original/pngtree-chicken-adobo-is-a-filipino-food-png-image_16005521.png')
INSERT [dbo].[foods] ([id], [name], [calories], [price], [image_url]) VALUES (2, N'Sinigang', 295, CAST(80.00 AS Decimal(10, 2)), N'https://static.vecteezy.com/system/resources/thumbnails/048/922/862/small_2x/sinigang-nababoy-isolated-on-transparent-background-png.png')
INSERT [dbo].[foods] ([id], [name], [calories], [price], [image_url]) VALUES (3, N'Menudo', 250, CAST(75.00 AS Decimal(10, 2)), N'https://static.vecteezy.com/system/resources/previews/026/772/492/non_2x/menudo-with-ai-generated-free-png.png')
SET IDENTITY_INSERT [dbo].[foods] OFF
GO
SET IDENTITY_INSERT [dbo].[userstest] ON 

INSERT [dbo].[userstest] ([id], [student_id], [password], [name], [allowance]) VALUES (1, 2023102027, N'password123', N'Miggy Consul', 2825)
INSERT [dbo].[userstest] ([id], [student_id], [password], [name], [allowance]) VALUES (2, 2023102027, N'password123', N'Miggy Consul', 2825)
SET IDENTITY_INSERT [dbo].[userstest] OFF
GO
ALTER TABLE [dbo].[userstest] ADD  DEFAULT ((0)) FOR [allowance]
GO
USE [master]
GO
